.page {
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
}

.button {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc45;
  z-index: 10;
}

.popup__content {
  position: absolute;
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.hidden {
  display: none;
}

.popup.hidden.overlay {
  display: none;
}

.calendar__header {
  display: flex;
}

.calendar__header-day {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  width: 14%;
}

.calendar__header-day:first-child {
  margin-left: 92px;
}

.calendar__header-num {
  margin-top: 10px;
  font-size: 25px;
}

.calendar__week {
  width: 100%;
  display: flex;
}

.calendar__day {
  width: 15%;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
}

.calendar__day:last-child {
  border: none;
}

.calendar__day-line {
  height: 20.2px;
  border-bottom: 1px solid black;
}

.calendar__day-sell {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid black;
}

.calendar__day-sell:last-child {
  border: none;
}

.calendar__week-container {
  display: flex;
}

.calendar__lines {
  width: 20px;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
}

.calendar__lines-top {
  height: 20.2px;
  border-bottom: 1px solid black;
}

.calendar__lines-semi {
  border-bottom: 1px solid black;
  height: 60px;
}

.calendar__time-scale {
  display: flex;
  flex-direction: column;
  width: 80px;
  align-items: center;
  font-size: 13px;
}

.calendar__time-scale-polar {
  font-size: 13px;
  border-bottom: 1px solid black;
  width: 100%;
  padding-left: 10px;
}

.calendar__time-scale-time {
  margin-top: 41px;
}

.calendar__time-scale-time:nth-child(2) {
  padding-top: 9px;
}

.modal__content {
  display: flex;
  width: 390px;
  height: 350px;
}
.modal__content-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 20px;
}
.event-form__description {
  border: none;
  margin-top: 25px;
  margin-bottom: 25px;
}

.event-form__title {
  border: none;
  margin-bottom: 100px;
}
.event-form__time {
  display: flex;
  align-items: center;
  border: none;
}
.event-form__time-date {
  border: none;
}
.event-form__time-start {
  border: none;
}
.event-form__time-end {
  border: none;
}
.event-form__submit-btn {
  float: right;
}

.create-event {
  display: flex;
  flex-direction: column;
}
.create-event__close-btn {
  padding: 0;
  margin: 0;
  display: block;
  width: 20px;
  float: right;
  background-color: transparent;
  border: none;
}

.header {
  display: flex;
  padding: 20px 40px 10px 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.header__element {
  margin-left: 20px;
}

.create-event-btn {
  display: flex;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0px 1px 5px -2px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.create-event-btn__icon {
  font-size: 30px;
  margin: -5px 10px 0px 0px;
}

.navigation__today-btn {
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  margin-right: 20px;
}

.fa-chevron-right {
  width: 15px;
  height: 10px;
  font-size: 15px;
}

.fa-chevron-left {
  width: 15px;
  height: 10px;
  font-size: 15px;
}

.navigation__displayed-month {
  font-size: 25px;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
